.drawer {
  background-color: rgba(12, 151, 216, 0.993);
  //padding: 1rem;
  width: 80vw;
  max-width: 20rem;
  height: 100vh;
  .header {
    margin: 0.5rem;
    padding: 1rem 0rem 0rem 0.5rem;
  }
}

.center {
  text-align: center;
  justify-content: center;
}
