.authscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.formBox {
  height: auto;
  width: auto;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: white;
}
